.button_type_secondary
  border-radius: 4px
  background-image: linear-gradient(#5f5f5f, #444)
  color: #fff
  text-shadow: 0 1px rgba(#000, .4)
  box-shadow: 0 1px 1px rgba(#000, .4),inset 0 1px  rgba(#fff, .1)
  font: 12px/21px $secondaryFont
  border-top: 1px solid #4d4d4d
  border-bottom: 1px solid #242424
  border-left: 1px solid #3a3a3a
  border-right: 1px solid #3a3a3a
  padding: 8px 24px
  transition: box-shadow .2s
  will-change: box-shadow

  &:hover
    box-shadow: 0 1px 4px rgba(#000, .4),inset 0 1px  rgba(#fff, .2)

  &:active
    background-image: linear-gradient(#525252, #444)
    box-shadow: inset 0 1px  rgba(#fff, .2)
