.button_type_search
  background: url('../img/icons/search-white.svg') 50% no-repeat
  background-size: 20px
  font-size: 0
  width: 64px
  height: 64px

  +respond-to($tablet-landscape)
    width: 36px
    height: 36px
    background: url('../img/icons/search.svg') 50% no-repeat
    background-size: 20px
