.section__title
  font-size: 26px
  position: relative
  margin: 0 0 18px 10px

  +respond-to($tablet-landscape)
    margin: 0 0 27px 0

  &::before
    content: ''
    position: absolute
    left: -26px
    top: 17px
    width: 20px
    height: 8px
    background: #933435
