.menu_type_main
  display: flex
  justify-content: space-between

  @extend %mainWidth

  .menu__link
    font-size: 26px
    color: #fff
    text-decoration: none
    display: block
    padding: 4px 17px 5px
    transition: opacity .2s
    will-change: opacity

    &:hover
      opacity: .8
