%mainWidth
  max-width: $maxWidth
  min-width: 320px
  margin-left: auto
  margin-right: auto
  padding-left: 30px
  padding-right: 30px
  box-sizing: border-box

  +respond-to($tablet-landscape)
    padding-left: 48px
    padding-right: 48px
