.main-footer__copyright
  display: none
  visibility: hidden

  +respond-to($tablet-landscape)
    display: block
    visibility: visible
    margin-left: auto
    color: #444
    font-size: 32px

    &:first-letter
      font-size: 36px
