.document
  -webkit-text-size-adjust: none

.document__body
  background: #333 url('../img/document__body.png')
  text-size-adjust: 100%
  font: 16px/1.4 $primaryFont
  color: #121212
  -webkit-font-smoothing: antialiased
