@import __caption/page-title__caption
@import __search/page-title__search

.page-title
  background: rgba(#000, .85)

  +respond-to($tablet-landscape)
    background: none
    display: flex
    align-items: center
