.tile_type_primary
  background-color: rgb(218, 218, 218)
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, .35)
  padding: 16px 22px
  position: relative
  overflow: hidden

  +respond-to($tablet-landscape)
    border-radius: 3px

  &:not(:last-child)
    margin-bottom: 28px

  .tile__title
    font-size: 28px
    border-bottom: 1px solid #c3c3c3
    position: relative
    padding: 0 7px 14px

    +respond-to($tablet-landscape)
      padding: 0 12px 14px

    &::after
      content: ''
      position: absolute
      height: 1px
      background: #e4e4e4
      left: 0
      right: 0
      bottom: -2px

  .tile__content
    padding-top: 14px
