.product-preview__image-box
  border-radius: 3px
  background-color: rgb(233, 233, 233)
  box-shadow: 0 1px 5px 0 rgba(#000, 0.34)
  border: 1px solid #999
  transition: transform .2s
  will-change: transform
  margin-bottom: 8px
