@import __title/spinner__title

.spinner
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: 0
  background: rgba(#e3e3e3, .85)
  z-index: 2
  display: flex
  align-items: center
  justify-content: center

