.page__title
  position: absolute
  left: 0
  right: 0
  height: 46px
  transform: translateY(-46px)
  line-height: 46px

  +respond-to($tablet-landscape)
    transform: none
    position: static
    margin-bottom: 18px
