@import __image-box/product-preview__image-box
@import __image/product-preview__image
@import __info/product-preview__info
@import __title/product-preview__title

.product-preview
  text-align: center

  &:hover
    .product-preview__image-box
      transform: scale(1.05)

.product-preview__actions
  position: relative
