.button_type_primary
  $innerShadow: rgba(#fff, .5)

  font: bold 16px/1.25 $secondaryFont
  color: rgb(148, 148, 148)
  text-align: center
  text-shadow: 0 1px rgba(255, 255, 255, 0.7)
  padding: 11px 42px 9px
  border-radius: 9px
  background: #efefef url('../img/button_type_primary.png') 0 100% repeat-x
  box-shadow: inset 0 1px $innerShadow, inset 0 -1px $innerShadow, inset 1px 0 $innerShadow, inset -1px 0 $innerShadow, 0 1px rgba(#000, .06), 0 4px 0 #d6d6d6, 0px 4px 6px rgba(0, 0, 0, 0.5)
  transition: transform .1s

  &:hover
    opacity: .8

  &:active
    box-shadow: inset 0 1px $innerShadow, inset 0 -1px $innerShadow, inset 1px 0 $innerShadow, inset -1px 0 $innerShadow, 0 1px rgba(#000, .06), 0px 1px 6px rgba(0, 0, 0, 0.2)
    transform: translateY(2px)
