extends ../layouts/@main

block includes
  include ../components/product-preview/=product-preview
  include ../components/link/=link
  include ../components/menu/=menu
  include ../components/button/=button

block title
  title ParrotWings Exchange

block body
  .page
    .page__header
      include index-content/_main-header

    .page__body
      .page__layout
        main.page__main
          .page__title.page-title
            h1.page-title__caption ParrotWings Exchange

            .page-title__search
              form.form.form_type_search(action='javascript:void(0);')
                .form__field
                  input.text-field.text-field_type_search(type="search")/

                .form__actions
                  +button({mods: {type: 'search'}}) Find

          section.section.section_type_products
            h2.section__title Products

            .section__content
              .list_type_products
                .list__item
                  +product-preview({
                    data: {
                      id: '01',
                      info: '2 props',
                      title: 'Unlimited exchange'
                    }
                  })

                .list__item
                  +product-preview({
                    data: {
                      id: '02',
                      info: '1 prop',
                      title: 'International exchange'
                    }
                  })

                .list__item
                  +product-preview({
                    data: {
                      id: '03',
                      info: '3 props, all',
                      title: 'Additional services'
                    }
                  })

                .list__item
                  +product-preview({
                    data: {
                      id: '04',
                      info: '1 prop',
                      title: 'Support'
                    }
                  })

                .list__item
                  +product-preview({
                    data: {
                      id: '05',
                      info: '2 props',
                      title: 'Holiday works'
                    }
                  })

                .list__item
                  +product-preview({
                    data: {
                      id: '06',
                      info: 'not in access',
                      title: 'Postal delivery'
                    }
                  })

                .list__item
                  +product-preview({
                    data: {
                      id: '07',
                      info: '2 props',
                      title: 'Document management'
                    }
                  })

                .list__item
                  +product-preview({
                    data: {
                      id: '08',
                      info: '2 props',
                      title: 'Promotions'
                    }
                  })

            .section__footer
              a(href='javascript:void(0);') More products...

        aside.page__aside
          include index-content/_tile-sign-up

          include index-content/_tile-online-monitor

    .page__footer
      .main-footer
        .main-footer__row.main-footer__row_type_menu
          .main-footer__stripe
            nav.main-footer__social
              +menu({
                mods: {type: 'social'},
                data: [
                  {title: 'Evernote', type: 'evernote'},
                  {title: 'Facebook', type: 'facebook'},
                  {title: 'Pinterest', type: 'pinterest'},
                  {title: 'Twitter', type: 'twitter'},
                  {title: 'Youtube', type: 'youtube'},
                  {title: 'Github', type: 'github'}
                ]
              })

            p.main-footer__copyright &copy; Parrot Wings

        .main-footer__row
          .main-footer__stripe
            .main-footer__column
              .tile.tile_type_footer
                h3.tile__title Recruitment Info

                .tile__content
                  ul.list.list_type_simple
                    li.list__item Candidate First Name: Dmitriy
                    li.list__item Candidate Last Name: Dmitriev
                    li.list__item Spent Time: 8 hours
                    li.list__item Email: dmitriev@joomdesign.ru
                    li.list__item Test date: 05.07.2019

            .main-footer__column
              .tile.tile_type_footer
                h3.tile__title Resources

                .tile__content
                  ul.list.list_type_simple
                    li.list__item Loader icon &mdash; search on Fontello.com
                    li.list__item Icons &mdash; Entypo
                    li.list__item Fonts &mdash; search in this file
                    li.list__item Background &mdash; standart situation: designer lose file

            .main-footer__column
              .tile.tile_type_footer
                h3.tile__title Navigation

                .tile__content
                  ul.menu.menu_type_footer
                    li.menu__item
                      a.menu__link(href="javascript:void(0);") Development

                    li.menu__item
                      a.menu__link(href="javascript:void(0);") Application

                    li.menu__item
                      a.menu__link(href="javascript:void(0);") Holding

                    li.menu__item
                      a.menu__link(href="javascript:void(0);") About
            .main-footer__column.main-footer__column_for_specs
              .tech-specs
                img.tech-specs__image(src='img/tech-specs__image.png' alt)/
                p.tech-specs__text Project should work on next stack: IE11, actual version of Firefox, Chrome on desktop and android, Opera (opera mini), Safari on mac and ios.
            .main-footer__column.main-footer__column_for_copyright
              p &copy; Parrot Wings

block scripts
  script(type='text/javascript' src='js/app.min.js')
