.text-field
  width: 100%
  border: 1px solid #c0c0c0
  padding: 8px 14px 3px
  font-family: $secondaryFont
  box-sizing: border-box
  box-shadow: inset 0 1px #d8d8d8, inset 0 -1px #d8d8d8, inset 1px 0 #d8d8d8, inset -1px 0 #d8d8d8
  height: 50px

  &:focus
    border-color: #999
    box-shadow: inset 0 1px #999, inset 0 -1px #999, inset 1px 0 #999, inset -1px 0 #999
