.spinner__title
  display: block
  font-family: $secondaryFont

  &::before
    content: ''
    display: block
    width: 62px
    height: 62px
    margin-bottom: 5px
    background: url('../img/icons/spinner.svg') 50% no-repeat
    background-size: 60px
    animation: spinner 1s infinite linear

@keyframes spinner
  0%
    transform: rotate(0deg)

  100%
    transform: rotate(360deg)
