.form_type_search
  position: relative

  .form__field
    display: none
    visibility: hidden

    +respond-to($tablet-landscape)
      display: block
      visibility: visible

  .form__actions
    margin: 0
    padding: 0

    +respond-to($tablet-landscape)
      position: absolute
      width: 36px
      height: 36px
      right: 2px
      top: 2px
      padding: 0
      margin: 0
