.tooltip
  position: absolute
  background: rgba(#000, .79)
  font-family: $secondaryFont
  min-width: 145px
  z-index: 4
  font-size: 12px
  color: #d3d3d3
  padding: 10px 10px 18px
  box-sizing: border-box
  left: 50%
  transform: translateX(-50%)
  bottom: 45px
  border-radius: 6px

  +respond-to($tablet-landscape)
    min-width: 248px

  &::after
    position: absolute
    content: ''
    width: 0
    height: 0
    border-style: solid
    border-width: 12px 12px 0 12px
    border-color: rgba(#000, .79) transparent transparent transparent
    bottom: -12px
    left: 50%
    transform: translateX(-50%)

.tooltip__title
  font-size: 14px
  font-weight: bold
  margin-bottom: 7px

.tooltip__content
  line-height: 14px
