@import __navigation/main-header__navigation
@import __menu-handler/main-header__menu-handler

.main-header
  height: 110px
  background: #060605 url('../img/main-header.jpg') 50% 100% no-repeat
  position: relative

  +respond-to($tablet-landscape)
    height: 155px
