.menu_type_social
  display: flex
  justify-content: space-between
  padding: 25px 0

  +respond-to($tablet-landscape)
    padding: 0

  .menu__item
    +respond-to($tablet-landscape)
      &:not(:last-child)
        margin-right: 40px

  .menu__link
    display: block
    width: 40px
    height: 40px
    font-size: 0
    background-position: 50%
    background-repeat: no-repeat
    opacity: .1
    transition: opacity .2s
    will-change: opacity
    background-size: 30px

    +respond-to($tablet-landscape)
      width: 90px
      height: 90px

    &:hover
      opacity: .5

  .menu__link_type_evernote
    background-image: url('../img/icons/evernote.svg')

    +respond-to($tablet-landscape)
      background-size: 55px

  .menu__link_type_facebook
    background-image: url('../img/icons/facebook.svg')

    +respond-to($tablet-landscape)
      background-size: 40px

  .menu__link_type_pinterest
    background-image: url('../img/icons/pinterest.svg')

    +respond-to($tablet-landscape)
      background-size: 40px

  .menu__link_type_twitter
    background-image: url('../img/icons/twitter.svg')

    +respond-to($tablet-landscape)
      background-size: 45px

  .menu__link_type_youtube
    background-image: url('../img/icons/youtube.svg')

    +respond-to($tablet-landscape)
      background-size: 50px

  .menu__link_type_github
    background-image: url('../img/icons/github.svg')

    +respond-to($tablet-landscape)
      background-size: 50px
