.main-header__navigation
  position: absolute
  bottom: 0
  left: 0
  right: 0
  background: rgba(#000, .85)
  display: none
  visibility: hidden

  +respond-to($tablet-landscape)
    display: block
    visibility: visible


.main-header__navigation_fixed
  +respond-to($tablet-landscape)
    position: fixed
    top: 0
    bottom: auto
    z-index: 5
