header.main-header
  nav.main-header__navigation
    +menu({
      mods: {type: 'main'},
      data: [
        {title: 'Home'},
        {title: 'Credits'},
        {title: 'Exchange'},
        {title: 'Partners'},
        {title: 'Stock'},
        {title: 'Holding'},
        {title: 'About'}
      ]
    })

  button.main-header__menu-handler Main menu
