.tile.tile_type_primary
  h3.tile__title Online Monitor

  .tile__content
    .some-content(style="height: 150px")

    .spinner
      span.spinner__title Loading...

    form.form(action='javascript:void(0);')
      .form__actions
        +button({mods: {type: 'primary'}}) Connect
