.tile.tile_type_primary
  h3.tile__title Sign Up

  .tile__content
    form.form.form_type_sign-up(action='javascript:void(0);')
      .form__field
        input.text-field(type='text' placeholder='First Name')/

      .form__field
        input.text-field(type='text' placeholder='Last Name')/

      .form__field
        input.text-field(type='email' placeholder='Email')/

      p.form__note
        | By creating a PW Exchange Account you acknowledge that
        | you have read, understood and agree to the
        = ' '
        a(href="javascript:void(0);") Terms of Use
        = ' '
        | and
        = ' '
        a(href="javascript:void(0);") Privacy Policy
        | .

      .form__actions
        +button({mods: {type: 'primary'}}) Sign Up
