.main-footer__column
  padding: 19px 0

  +respond-to($tablet-landscape)
    flex-basis: 250px

    &:not(:last-child)
      margin-right: 35px

  &.main-footer__column_for_specs
    align-self: flex-end
    margin-right: 0
    padding-bottom: 30px

.main-footer__column_for_copyright
  color: #444
  font-size: 32px
  text-align: center

  &:first-letter
    font-size: 36px

  +respond-to($tablet-landscape)
    display: none
    visibility: hidden
