.main-header__menu-handler
  width: 64px
  height: 64px
  display: block
  font-size: 0
  background: url('../img/icons/menu.svg') 50% no-repeat
  background-size: 35px

  +respond-to($tablet-landscape)
    display: none
    visibility: hidden
