.list_type_products
  display: flex
  margin: 0 -30px -45px 0
  flex-wrap: wrap
  justify-content: space-around

  +respond-to($tablet-landscape)
    margin: 0 -33px -45px 0

  .list__item
    margin: 0 30px 45px 0
    max-width: 111px

    +respond-to($tablet-landscape)
      margin: 0 33px 50px 0
