.tech-specs
  color: #5c5c5c
  text-align: center

  +respond-to($tablet-landscape)
    text-align: right

.tech-specs__image
  display: inline-block
  margin-bottom: 23px

.tech-specs__text
  font: 14px/17px $secondaryFont
