block includes

html.document(lang="ru")
  head
    meta(charset="utf-8")/
    meta(name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no")
    link(href="https://fonts.googleapis.com/css?family=Oswald:300&display=swap" rel="stylesheet")
    link(href="css/app.css", rel="stylesheet")/

    block title

  body.document__body
    block body

    block scripts
